# SQL QueryPractice

Data source: https://www.kaggle.com/rikdifos/nba-salary-and-statistics-201617
SQL Query types: https://towardsdatascience.com/sql-questions-summary-df90bfe4c9c

## The Data

To understand what data we are working with, we will connect to a sqlite database, list the table names, list the column names, and preview data for each table.

In [62]:
import sqlite3

db = sqlite3.connect('nba_salary.sqlite')
cur = db.cursor()

newline_tab =  '\n  '

# Print table names
result = cur.execute("SELECT name FROM sqlite_master WHERE type='table';").fetchall()
table_names = list(zip(*result))[0]
print ("Tables:", newline_tab.join(table_names), sep = newline_tab)

# Print column names
for table_name in table_names:
    result = cur.execute("PRAGMA table_info('%s')" % table_name).fetchall()
    column_names = list(zip(*result))[1]
    print ("Columns for %s:" % table_name, newline_tab.join(column_names), sep = newline_tab)
    
cur.close()
db.close()

Tables:
  NBA_season1718_salary
  Seasons_Stats
Columns for NBA_season1718_salary:
  ID
  Player
  Team
  Salary
Columns for Seasons_Stats:
  ID
  Year
  Player
  Position
  Age
  Team
  G
  GS
  MP
  PER
  TS%
  3PAr
  FTr
  ORB%
  DRB%
  TRB%
  AST%
  STL%
  BLK%
  TOV%
  USG%
  blanl
  OWS
  DWS
  WS
  WS/48
  blank2
  OBPM
  DBPM
  BPM
  VORP
  FG
  FGA
  FG%
  3P
  3PA
  3P%
  2P
  2PA
  2P%
  eFG%
  FT
  FTA
  FT%
  ORB
  DRB
  TRB
  AST
  STL
  BLK
  TOV
  PF
  PTS

## Type 1: Select All

These types of queries rely on various types of joins